<%= form_with model: obj, local:true do |f |%>
  <p>Tile</p>
  <%= f.text_field :title, class: 'w-100 mb-2' %>
  <p>Opinion</p>
  <%= f.text_area :body, class: 'w-100 mb-2' %>
  <p><%= f.submit 'Create Book', class: 'create' %></p>
<% end %>
<!--test-->