<%= attachment_image_tag current_user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
<table class="table">
  <tr>
    <th>name</th> 
    <th><%= current_user.name %></th>
  </tr>
  <tr>
    <th>introduction</th>
    <th><%=current_user.introduction %></th>
  </tr>
</table>      
  <% if current_user %>
    <%= link_to edit_user_path(current_user), method: :get do %>
      <i class="btn btn-outline-secondary btn-block fas fa-user-cog mb-4"></i>
    <% end %>
  <% end %>