<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2><%= @user.name %>様、Bookers2へようこそ。</h2>
      <p>アカウント名: <%= @user.name %></p>
      <p>登録メールアドレス: <%= @user.email %></p>
      <p>マイページ: <%= @url %></p>
      <p>ご入会ありがとうございます。どうぞお楽しみくださいませ。</p>
  </body>
</html>
