<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <%= render "users/info", info: current_user %>
      
      <h2>New book</h2>
        <%= render 'layouts/errors', obj: @book %>
        
        <%= render "users/form", obj: @book %>
    </div>
    
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
        <%= render 'index' %>
    </div>
  </div>
</div>
