<!DOCTYPE html>
<html>
  <html lang="ja">
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>会員様限定情報</h3>
    <hr>
    <p>通知は一日一回送信されます。</p>
    <p>◆詳細は下記よりログインして確認ください。</p>
    <p>Bookers2ログインページ：<%= @url %></p>
    <br>
    <p>※このメールは送信専用です。</p>
    <hr>
    <h3>引き続きBookers2をお楽しみください</h3>
    <hr>
  </body>
</html>
